
$background-color: #fff;
$fontcolor: #444;
$navbar: #444;
$border-color: #317873;
$blue: #5f9ea0;
$xofontsize: 2.5em;
$fontsize: 2em;
$btnfontsize: 18px;
$green: #008000;
$red: #f00;
$iconwidth: 100px;
$iconheight: 100px;
