$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './colors';

.content {
  background-color: $background-color;
  margin: 10px auto;
  max-width: 800px;
  text-align: center;
}

.navbar {
  margin: 0;
  width: 100%;
}

#menu {
  display: none;
}

#log-out {
  display: none;
}

.icon {
  display: flex;
  justify-content: center;
  padding: 10px;
  p {
    font-size: $fontsize;
    margin: 0;
    padding: 15px;
  }
}

.welcome {
  margin: 0;
}

.front-page {
  padding: 80px 10px 80px 0;
  img {
    padding: 10px;
  }
}

.world-wonders {
  height: $iconheight;
  width: $iconwidth;
}

h1 {
  color: $fontcolor;
  padding: 20px;
}

.btn {
  align-self: center;
  background-color: $blue;
  border: 1px solid $border-color;
  color: $fontcolor;
  font-size: $btnfontsize;
  margin: 10px;
  width: 30%;
}

.comp-human {
  display: none;
}

.easy-or-hard-computer {
  display: none;
}

.game-board {
  display: none;
  #message {
    color: $fontcolor;
    padding: 30px;
  }

  .box {
    align-items: center;
    background-color: $background-color;
    display: flex;
    font-size: $xofontsize;
    height: 120px;
    justify-content: center;
    padding: 10px;
  }

  .border-right {
    border-right: 1px solid $border-color;
  }

  .border-bottom {
    border-bottom: 1px solid $border-color;
  }

  p {
    color: $blue;
    font-size: $xofontsize;
    margin: 0;
    padding: 0;
  }
}

.score {
  color: $fontcolor;
  display: none;

  li {
    list-style-type: none;
  }
}

.useroptions {
  display: none;
  // display: flex;
  flex-direction: column;
  padding: 30px;
}

.choose-player {
    display: none;
}

.icon {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: center;
}

.sm-icon {
  height: 50px;
  width: 50px;
}

.success {
  color: $green;
}

.fail {
  color: $red;
}

.refresh {
  display: none;
  margin: 10px 0 0 0;
}

.player-choice {
  width: 250px;
}

.list {
  p {
    font-size: 1em;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 1.2em;
    width: 45%;
  }

  .score {
    font-size: 0.8em;
    width: 50%;
  }
  body {
    height: 100vh;
    width: 100vw;
  }
}
