$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './colors';

body {
  background-color: $background-color;
  margin: 40px auto;
  max-width: 700px;
  text-align: center;
}

h1 {
  color: $white;
  padding: 20px;
}

.signin-signup {
  display: flex;
  // display: none;
  flex-direction: column;
}

.btn {
  align-self: center;
  background-color: $blue;
  border: 1px solid $border-color;
  color: $white;
  font-size: $btnfontsize;
  margin: 10px;
  width: 30%;
}

.comp-human {
  display: none;
}

.game-board {
  display: none;
  #message {
    color: $white;
    padding: 30px;
  }

  .box {
    align-items: center;
    background-color: $background-color;
    display: flex;
    font-size: $xofontsize;
    height: 100px;
    justify-content: center;
  }

  .border-right {
    border-right: 1px solid $border-color;
  }

  .border-bottom {
    border-bottom: 1px solid $border-color;
  }

  p {
    font-size: $xofontsize;
  }
}

.score {
  display: none;
}

.useroptions {
  display: none;
  // display: flex;
  flex-direction: column;
  padding: 30px;

  .icons {
    display: flex;
    flex-direction: row;
    font-size: $fontsize;
    justify-content: center;
  }

  .glyphicon {
    color: $blue;
    padding: 20px;
    }
}

.success {
  color: #008000;
}

.fail {
  color: #ff0000;
}

.score {
  color: $white;
  li {
    list-style-type: none;
  }
}
